@model IEnumerable<ProductViewModel>

@{
    ViewBag.Title = "All Products";
}

<div class="card" style=width: 18rem>
    <div class="card-header">@ViewBag.Title</div>
    <ul class="list-group list-group-flush">
        @foreach (var item in Model)
        {
            <li class="list-group-item">
                N.@item.Id: @item.Name - @item.Price lv.
            </li>
        }
    </ul>
</div> 