body {
  background-color: lightslategray;
}

p {
  width: 300px;
  padding: 20px;
  margin: auto;
  color: whitesmoke;
  background-color: #0f4069;
  border: 2px solid #e6eaef;
  border-top-left-radius: 15px;
  border-bottom-right-radius: 15px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
}
