body {
    margin: 0px;
    padding: 0px;
    background-color: #CCCCCC;
}

ul {
    text-align: center;
    background-color: #444;
    padding: 0px;
    margin: 0px;
    list-style: none;
}

li {
    display: inline-block;
    font-size: 24px;
    line-height: 40px;
    height: 40px;
    padding: 20px;
}

a {
    text-decoration: none;
    color: #ffffff;
}