h1 {
    font-size: 28px;
}

p {
    font-size: 24px;
}

body {
    margin: 0px;
    padding: 0px;
    background-color: #CCCCCC;
}

section {
    margin-left: 20px;
}

article header p {
    font-style: italic;
}