@using MyRecipes.Web.ViewModels.Recipes
@model CreateRecipeInputModel

@{
    this.ViewData["Title"] = "Add new Recipe";
    var items = this.Model.CategoriesItems;
    var categoryItems = items.Select(x => new SelectListItem(x.Value, x.Key));
}

<h1>@this.ViewData["Title"]</h1>

<form method="post" class="col-md-6 ofsset-md-3" enctype="multipart/form-data">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Instructions"></label>
        <textarea asp-for="Instructions" class="form-control" rows="5"></textarea>
        <span asp-validation-for="Instructions" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="PreparationTime"></label>
        <input asp-for="PreparationTime" class="form-control" />
        <span asp-validation-for="PreparationTime" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="CookingTime"></label>
        <input asp-for="CookingTime" class="form-control" />
        <span asp-validation-for="CookingTime" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="PortionCount"></label>
        <input asp-for="PortionCount" class="form-control" />
        <span asp-validation-for="PortionCount" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="CategoryId"></label>
        <select asp-for="CategoryId" class="form-control" asp-items="categoryItems"></select>
        <span asp-validation-for="CategoryId" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Images"></label>
        <input asp-for="Images" class="form-control" />
        <span asp-validation-for="Images" class="text-danger"></span>
    </div>
    <hr/>
    <div id="IngredientsContainer">
        <label asp-for="Ingredients"></label>
        <a class="btn btn-success" onclick="AddMoreIngredients()">+</a>
        <a class="btn btn-danger" onclick="DeleteIngredientForm()">-</a>
        <span asp-validation-for="Ingredients" class="text-danger"></span>
    </div>
    <input type="submit" class="button btn-primary" />
</form>


@section Scripts{
    <script>
        //Ingredients[0].IngredientName
        //Ingredients[0].Quantity
        var ingredientindex = 0;
        function AddMoreIngredients() {
            console.log("AddMoreIngredients()")
            $("#IngredientsContainer")
                .append("<div class='form-control'>Name: <input class='form-control' type='text' name='Ingredients[" + ingredientindex + "].IngredientName' /> Quantity: <input class='form-control' type='text' name='Ingredients[" + ingredientindex + "].Quantity' /></div>");
            ingredientindex++;
        }
        
    </script>
}
